:root {
   // colors
   --my-color-black: rgb(50, 50, 50);
   --my-color-white: rgb(250, 250, 250);
   --my-color-green: rgba(40, 150, 40, 0.9);
   --my-color-red: rgba(230, 40, 40, 0.9);
   // values
   --my-value-min: 2px;
   --my-value-mid: 10px;
   --my-value-max: 20px;
}